body {
  font-family: 'Sacramento', cursive;
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
}

h2, li {
  font-family: 'Source Sans Pro', sans-serif;
    
}

p, a {
  font-family: 'Merriweather', serif;
}

.nav-link {
  text-decoration: none;
}