html, body {
  font-family: 'Sacramento', cursive;
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
}

h2 {
  font-family: 'Source Sans Pro', sans-serif;
    
}

p, a {
  font-family: 'Merriweather', serif;
}


.nav-link {
  text-decoration: none;
  color: #424642;
  font-family: 'Playfair Display SC', serif;
}